    <% if customer.image.present? %>
      <div class="card-image">
        <figure class="image">
          <%= image_tag (customer.image.variant(resize_to_limit: [500,500])) %>
        </figure>
      </div>
    <% end %>